@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#app, #app span {
    display: grid;
    align-items: center;
    justify-content: center;
}

#app h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#app h1 strong {
    font-weight: 400;
}

#app span {
    grid-template-columns: 15% 85%;
}

.inLine, .inLine input {
    width: 100%;
    background-color: rgb(211, 196, 114);
}