@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

textarea:focus, input:focus, select:focus, .inLine input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0;
}

#app, #app span, body {
    display: grid;
    align-items: center;
    justify-content: center;
}

#app h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 25px 0;
    cursor: default;
    transition: 400ms;
}

#app h1:hover {
    letter-spacing: 2px;
    transition: 400ms;
}

#app h1 strong {
    font-weight: 400;
}

#app span {
    grid-template-columns: 15% 85%;
}

.inLine, .inLine input {
    width: 90%;
    color: #c8c8c8;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

.inLine:hover{
    background-color:#ffebcd;
    transition: 150ms;
}

.inLine {
    background-color:#FEF0DB;
    padding: 10px;
    margin: 0 10px 10px 10px;
    transition: 150ms;
}

#cotadaLabel, #baseLabel {
    z-index: 999;
}

select option {
    z-index: 9999;
}

.inLine input {
    background-color:#fef0db00;
    text-align: right;
    /* width: 95%; */
    justify-self: right;
    cursor: default;
}

/* ANIMATIONS */

#app h1 {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#app h1, #baseLabel, #cotadaLabel, #baseQtd, #cotadaQtd {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.05s;
    opacity: 0;
}

#app base, #app cotada, .inLine {
    animation-name: fadeIn, slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
    opacity: 0;
}

#baseLabel {
    animation-delay: 0.5s;
}

#baseQtd {
    animation-delay: 0.6s;
}

#cotadaLabel {
    animation-delay: 0.7s;
}

#cotadaQtd {
    animation-delay: 0.8s;
}

/* NOVO SELECT */

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
 
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideUp {
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}